<launch>
  <!-- Define an argument named "autorepeat_rate_arg" with a default value of 1000.0 -->
  <arg name="autorepeat_rate_arg" default="1000.0" />

  <!-- Start joy_node with the specified autorepeat_rate argument -->
  <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    <param name="autorepeat_rate" type="double" value="$(arg autorepeat_rate_arg)" />
  </node>

  <!-- Start base_joy_controller_node with the same autorepeat_rate argument -->
  <node pkg="mira_rov" type="joystick" name="joy_controller_node" output="screen">
    <param name="autorepeat_rate" type="double" value="$(arg autorepeat_rate_arg)" />
  </node>
</launch>
